<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ayo.robot.anim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".yoyo.DemoYoyoActivity" />
        <activity android:name=".ease.DemoEaseActivity" />
        <activity android:name=".ease.BounceActivity"/>
        <activity android:name=".ease.Bounce2Activity"/>
        <activity android:name=".ease.DemoActivity"/>
        <activity android:name=".ease.Demo2Activity"/>
        <activity android:name=".ease.InterpolatorActivity"/>
        <activity android:name=".ease.EvaluatorActivity"/>
        <activity android:name=".ease.CustomActivity"/>


        <activity android:name=".svg_vectordrawable.DemoVector"/>

        <activity
            android:name="org.ayo.component.tmpl.TmplStarndardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="standard"
            android:theme="@style/AppTheme.Transparent" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ayo" android:host="page" android:path="/standard" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ayo.component.tmpl.TmplSingleTopActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Transparent"  >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ayo" android:host="page" android:path="/singletop" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ayo.component.tmpl.TmplSingleTaskActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Transparent"  >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ayo" android:host="page" android:path="/singletask" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ayo.component.tmpl.TmplSingleInstanceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Transparent"  >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="ayo" android:host="page" android:path="/singleinstance" />
            </intent-filter>
        </activity>


        <activity android:name=".transition.DemoTransitionPage1"
            android:label="Animation/Activity Transition"
            android:theme="@style/ActivityTransitionTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".transition.DemoTransitionPage2"
            android:label="Animation/Activity Transition"
            android:theme="@style/ActivityTransitionTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".transition.DemoTransitionPage3"
            android:label="Animation/Activity Transition"
            android:theme="@style/ActivityTransitionTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".transition.DemoTransitionPage4"
            android:label="Animation/Activity Transition"
            android:theme="@style/ActivityTransitionTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".transition.ActivityTransition"
            android:label="Animation/Activity Transition"
            android:theme="@style/ActivityTransitionTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity android:name=".transition.ActivityTransitionDetails"
            android:label="Animation/Details of a specific thingy"
            android:theme="@style/ActivityTransitionTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>